################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hello/Debug
/Hello/Hello/Debug
/Hello/.vs/Hello/v14/.suo
/Hello/Hello.VC.db
/Hello/Hello.VC.VC.opendb
